.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 6%;
  margin-right: 6%;
}

.cards a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 22%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #00543D;
  transform: scale(1.04);
  transition-duration: .5s;
}

.image {
  width: 100%;
  object-fit: cover;
}

.details {
  padding: 20px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 16px;
}

.area {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating {
  display: inline-block;
  background-color: #f7dc6f;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.infoItem {
  font-size: 14px;
  color: #888;
}
.infoItemTop{
  font-size: 12px;
  padding: .3rem;
  border-radius: 2px;
  color: white;
  background-color: green;
}
.infoItemPoor{
  font-size: 12px;
  color: white;
  padding: .3rem;
  border-radius: 2px;
  background-color: rgb(252, 116, 116);
}

@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}


/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 2rem;
  margin-left: 6%;
  margin-right: 6%;
}

.cards a {
  text-decoration: none;
  color: inherit;
}

.card {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #00543D;
  transform: scale(1.02);
  transition-duration: .5s;
}

.image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.details {
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 16px;
}

.area {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating {
  display: inline-block;
  background-color: #f7dc6f;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.infoItem {
  font-size: 14px;
  color: #888;
}
.infoItemTop{
  font-size: 12px;
  padding: .3rem;
  border-radius: 2px;
  color: white;
  background-color: green;
}
.infoItemPoor{
  font-size: 12px;
  color: white;
  padding: .3rem;
  border-radius: 2px;
  background-color: rgb(252, 116, 116);
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
} */
